#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cart * {
  color:red !important;
}

.cart > svg {
  margin-right: 5px;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px !important;
}

.product {
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  text-align: left;
}

.product a {
  color: black;
}

.product .pricing {
  text-align: center;
}

.product .pricing .quantity {
  padding-left: 10px;
  padding-right: 10px;
  display:block;
}

.product img {
  max-height: 200px;
  max-width: 200px;
}

.small-product img {
  max-height: 100px;
  max-width: 100px;
}

.wizard-continue {
  margin: 20px;
}

.checkout .input-field {
  padding: 10px;
}

.brief div {
  padding: 5px;
}

.detailedView {
  text-align: center;
}
.detailedView img {
  display: inline-block !important;
}
.detailedView * {
  padding: 10px;
}